<html>

<head>
  <title>about</title>
  <link rel="icon" href="/img/icon.png" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by TEAM HVL. it uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="/img/weather.jpg">
  </div>
  {{>footer}}
</body>

</html>